.main {
  width: 100vw;
  height: 100vh;
}

.container-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  position: relative;
  background-color: rgb(235, 235, 235);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.clickable:hover {
  background-color: rgb(237.5, 237.5, 237.5);
  cursor: pointer;
}

.clickable:active {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

/* .message-container:hover {
  background-color: rgb(232.5, 232.5, 232.5);
  cursor: pointer;
}

.message-container:active {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
} */

.copied-badge {
  background: rgb(0, 0, 0);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}